body{
    background-color: darkviolet;
}

h1{
    color:chartreuse;
    text-decoration: underline 8px rgb(249, 249, 249) ;
}

p{
    color:aliceblue;
}



a{
    color: wheat;
    text-decoration: none;
    background-color: crimson;
    border-radius: 5px;
}

